/* ─── Google Fonts ─────────────────────────────── */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Noto+Kufi+Arabic:wght@400;500;600;700&family=Almarai:wght@400;700;800&display=swap");

body,
button,
input,
textarea,
select {
  font-family: "Cairo", sans-serif;
}
:root {
  --MNF_Body_EN: "Source Sans 3", sans-serif;
  --MNF_Heading_EN: "Montserrat", sans-serif;
  --MNF_Body_AR: "Noto Kufi Arabic", sans-serif;
  --MNF_Heading_AR: "Almarai", sans-serif;

  --MNF_Heading_Size1: 64px;
  --MNF_Heading_Size2: 32px;
  --theme-primary: #102c57;
--theme-secondary: #dac0a3;
--theme-button: #102c57;
--theme-background: #f8f0e5;
--theme-button-hover: #dac0a3;
--theme-card: #ffffff;
--theme-icon-bg: #102c57;
--theme-secondary-text: #6b7280;
--theme-icon-color: #ffffff;
--theme-primary-text: #1a1a1a;
--theme-icon-bg-hover: #dac0a3;
--theme-icon-hover: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[dir="ltr"] body {
  font-family: var(--MNF_Body_EN);
}
html[dir="rtl"] body {
  font-family: var(--MNF_Body_AR);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--theme-primary-text);
  background-color: var(--theme-background);
  min-height: 100vh;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}
